.Footer {
    display: flex;
    background-color: rgb(0, 122, 122);
    color: rgb(249, 249, 249);
    justify-content: space-evenly;
    align-items: flex-start;
    cursor: default;
    padding: 8rem;
}

.Links {
    padding: 4rem 1rem;
    margin-top: 4rem;
    border-top: 2px solid rgb(249, 249, 249);
    font-size: 1.8rem;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Links a {
    color: inherit;
    text-decoration: none;
    margin-right: 2rem;
    transition: all 250ms ease;
}

.Links a:hover {
    color: rgb(2, 200, 214);
}

.Logo {
    height: 10rem;
    padding: 2rem;
    border: 4px double rgb(249, 249, 249);
    border-radius: 50%;
}

.SiteName {
    margin-right: .5rem;
}

@media only screen and (max-width: 1130px) {
    .Links a {
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 1050px) {
    .Links {
        width: 40%;
    }
}

@media only screen and (max-width: 952px) {
    .Links {
        margin-top: 1.5rem;
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 840px) {
    .Links {
        padding: 4rem 0rem;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 744px) {
    .Footer {
        flex-wrap: wrap;
        padding: 2rem;
    }
    .Links {
        padding: 2rem 0rem;
        width: 100%;
    }
    .Logo {
        height: 6rem;
    }
}