* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  /* Makes it so that 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  padding: 4rem;
  background-color: rgb(248, 248, 248);
  color: rgb(65, 65, 65);
}

/*First break point at 1150px*/