.Container {
  position: fixed;
  top: 6%;
  left: 3%;
  height: 9rem;
  width: 9rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  z-index: 1000;
}

.Container a {
  text-decoration: none;
}

.Logo {
  height: 9rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  z-index: 200;
}

.GitHub, .LinkedIn, .Scroll {
  color: rgb(104, 214, 218);
  font-size: 5rem;
  position: absolute;
  top: 0rem;
  left: 0;
  visibility: hidden;
  padding: 1rem 0 0 1.5rem;
  transition: all 300ms ease;
}

.Git, .Res, .Linked {
  color: rgb(104, 214, 218);
  padding-left: 8rem;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.Container:hover {
  height: 37rem;
}

.Container:hover .GitHub {
  transform: translateY(10rem);
  visibility: visible;
}

.GitContainer:hover .Git {
  transform: translateY(12rem);
  visibility: visible;
}

.ResContainer:hover .Res {
  transform: translateY(32rem);
  visibility: visible;
}

.LinkedContainer:hover .Linked {
  transform: translateY(22rem);
  visibility: visible;
}

.Container:hover .LinkedIn {
  transform: translateY(20rem);
  visibility: visible;
}

.Container:hover .Scroll {
  transform: translateY(30rem);
  visibility: visible;
}

.GitContainer:hover .GitHub, .LinkedContainer:hover .LinkedIn, .ResContainer:hover .Scroll {
  color: rgb(0, 122, 122);
}

@media only screen and (max-width: 1500px) {
  .Container {
    left: 4%;
  }
}

@media only screen and (max-width: 1200px) {
  .Container {
    left: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  .Container {
    top: 4%;
  }
}

@media only screen and (max-width: 700px) {
  .Container {
    top: 3%;
    left: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .Container {
    top: 2%;
    left: 5%;
  }
  .Logo {
    height: 7rem;
  }
}

@media only screen and (max-width: 400px) {
  .Container {
    top: 2%;
    left: 6%;
  }
}